<!-- <div class="row my-3">
    <div class="col-6">
        <h1> <span> Latest Movie </span> </h1>
        <h2> {{latestMovie.title}} </h2>
        <img class="img-fluid" src="https://image.tmdb.org/t/p/w500/{{latestMovie.poster_path}}"
            alt={{latestMovie.title}}>
    </div>
    <div class="col-6">
        <h1> <span> Latest TV Show </span> </h1>
        <h2> {{latestTV.name}} </h2>
        <img class="img-fluid" src="https://image.tmdb.org/t/p/w500/{{latestTV.poster_path}}" alt={{latestTV.name}}>
    </div>
</div>

<div class="row my-3">

</div> -->

<div class="row my-3">
    <div *ngFor="let movie of trendingAll" class="col-lg-3 col-md-4 col-sm-6 my-2">
        <a [routerLink]="['/MovieDetails', movie.id]">
            <img class="img-fluid" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt={{movie.title}}>
        </a>
    </div>
</div>
